header{
	margin-bottom: 5em;
}
.logo{
	margin-top: -0.3em;
}
.caja-busqueda{
	background: black;
}
.cont-res/*conenenedor de los resultados por item*/
{
	width: 60%;

}
.boton{/*para elegir el semestre*/
	background: blue;
}
@media screen and (max-width: 768px){
	header{
	margin-bottom: 8em;
}
.cont-res/*conenenedor de los resultados por item*/
{
	width: 98%;

}